* {
    margin: 0;
}

body{
    min-height: 50vh;
    max-height: 100vh;
    max-width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

header > img {
    width: 130px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid darkblue;
}

header h1 {
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}

header #redes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

nav {
    display:flex; 
    justify-content:space-evenly;
    align-items:center;
    height: 30px;
    width: 100%;
}

nav ul {
    display:flex;
    list-style: none;
    justify-content:space-evenly;
    align-items:center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav ul li{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
    height: 100%;
}

nav ul li a  {
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    text-decoration: none;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
    font-weight: bold;
    width: 100%;
    height: 100%;
    transition: background-color 0.7s;
}

nav ul li a:hover{
    background-color: darkblue;
    color:white;
    font-weight: bold;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkblue;
    gap: 20px;
    padding: 240px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main img{
    border: 5px solid white; 
    border-radius: 8px; 
}

main #textual{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
    margin-left: 40px;
}

main p{
    font-size: large;
}


footer{
    display: flex;
    align-items: center;
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
}

footer h4{
    margin-left: 10px;
}

footer #redes{
    display:none;
    
}

@media screen and (max-width: 800px) {

    header {
        flex-direction: column;
        padding: 10px;
    }

    header > img {
        width: 150px;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 16px;
        text-align: center;
        margin: 10px 0;
    }

    header #redes{
        display:none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a {
        font-size: 12px;
        margin-bottom: 20px;
    }

    main {
        flex-direction: column;
        padding: 100px 20px;
        align-items: center;
        justify-content: center;
    }

    main img {
        width: 20%;
        height: auto;
    }

    main #textual {
        margin-left: 0;
        align-items: center;
        text-align: center;
    }

    main p {
        font-size: 14px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        font-size: 12px;
    }

    footer #redes {
        display:flex;
        flex-direction: row;
        gap: 10px;
    }

    footer #redes img{
        width: 35px;
        height: auto;
        margin-bottom: 10px;
    }

}




